{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}" />
{% endblock %}

{% block content %}
<h1>Supporting Information Generator</h1>

<form class="dropzone" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <input name="upload_key" type="hidden" value="{{ uuid }}" />
<div class="fallback">
    <h3>Choose your Gaussian output files (.qfi, .out)</h3>
    <p><input name="file" type="file" multiple /></p>
    <p><input class="btn" type="submit" value="Upload!" id="upload-button"></p>
</div>
</form>
{% endblock %}

{% block morejs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
<script type="text/javascript">
Dropzone.options.uploadForm = {
  maxFilesize: 20, // MB
  acceptedFiles: ".qfi,.out",
  dictDefaultMessage: "Drop your Gaussian output files (.qfi, .out) here",
  init: function() {
    this.on("queuecomplete", function(file) { window.location = "{{ url_for('upload_complete', uuid=uuid) }}" });
  }
};
</script>
{% endblock %}