<!DOCTYPE html>
<html>
<head>
<title>Supporting Information Generator</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/github.css') }}">
</head>
<body>
<script src="http://nglviewer.org/ngl/js/ngl.js"></script>
<script>
function AddNGLWidget(index, moleculeUrl) {
    var stage = new NGL.Stage("viewport"+index);
    stage.setParameters({ backgroundColor: 'white' })
    stage.loadFile(moleculeUrl, {ext: 'pdb'}).then(function (component) {
        // add a "cartoon" representation to the structure component
        var sele = 'not (_C or _H or _N or _O)'
        component.addRepresentation("licorice", {multipleBond: "symmetric"});
        component.addRepresentation("ball+stick", {sele: sele, aspectRatio: 3.0});
        // add labels to non-CHON atoms
        var labelText = {}
        var selectionObject = new NGL.Selection(sele);
        component.structure.eachAtom(function(AtomProxy) {
            var elem = AtomProxy.element
            labelText[AtomProxy.index] = elem.charAt(0).toUpperCase() + elem.slice(1).toLowerCase();
        }, selectionObject);
        component.addRepresentation(
            'label', {  sele: sele,
                        color: '#111111',
                        name: 'non-CHON element',
                        labelType: 'text',
                        labelText: labelText,
                        xOffset: 0.5,
                        showBorder: true,
                        borderColor: '#FFFFFF',
                        borderWidth: 0.05,
                        sdf: true
                        }
            );
        // provide a "good" view of the structure
        component.autoView();
    });
    return stage;
};
</script>
<div class="container">
      <div id="markup">


<h2>Supporting Information</h2>
{% for molecule in molecules %}
    <article id="content" class="markdown-body">
    <h1>{{ molecule.name }}</h1>
    <div id="viewport{{ loop.index }}" style="width:700px; height:500px;"></div>
    <script>
        document.addEventListener("DOMContentLoaded", AddNGLWidget("{{ loop.index }}", "{{ url_for('get_image', filename='{}/{}.pdb'.format(uuid, molecule.basename)) }}").autoView());
    </script>
    <h2>Relevant magnitudes</h2>

    <table class="relevantdata">
    <tr>
        <th>Datum</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Stoichiometry</td>
        <td>{{ molecule.data['stoichiometry'] }}</td></tr>
    <tr>
        <td>Number of Basis Functions</td>
        <td>{{ molecule.data['basis_functions'] }}</td></tr>
    <tr>
        <td>Electronic Energy (eV)</td>
        <td>{{ molecule.data['electronic_energy'] }}</td>
    </tr>
    <tr>
        <td>Sum of electronic and zero-point Energies (eV)</td>
        <td>{{ molecule.data['zeropoint_energy'] }}</td>
    </tr>
    <tr>
        <td>Sum of electronic and thermal Energies (eV)</td>
        <td>{{ molecule.data['thermal_energy'] }}</td>
    </tr>
    <tr>
        <td>Sum of electronic and thermal Enthalpies (eV)</td>
        <td>{{ molecule.data['enthalpy'] }}</td>
    </tr>
    <tr>
        <td>Sum of electronic and thermal Free Energies (eV)</td>
        <td>{{ molecule.data['free_energy'] }}</td>
    </tr>
    <tr>
        <td>Number of Imaginary Frequencies</td>
        <td>{{ molecule.data['imaginary_frequencies'] }}</td>
    </tr>
    <tr>
        <td>Mean of α and β Electrons</td>
        <td>{{ molecule.data['mean_of_electrons'] }}</td>
    </tr>
    </table>

    <h2>Molecular Geometry in Cartesian Coordinates</h2>
        <pre>{{ molecule.xyz_block }}</pre>
    <hr />
    </article>
{% endfor %}

        <p>
            <a href="javascript:window.print()">Print this page</a> · <a href="{{ url_for('index') }}">Back to front page</a>
        </p>
        <p align="center">
            Generated automatically with getsupporting.info | <a href="https://github.com/jaimergp">@jaimergp</a>
        </p>
    </div>
</div>
</body>
</html>