{% extends "base.html" %}

{% block content %}
<form id='configure-template' action="{{ url_for('report', uuid=uuid) }}" method="POST" >
    <div class="field">
        <label for="css">Style</label>
        <div class="select-wrapper">
            <select required name='css' id="css">
                {% for style in styles %}
                <option value="{{ style }}">{{ style.title() }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="field">
        <label for="template">Template</label>
        <div class="select-wrapper">
            <select required name='template' id='template' onChange="showTextArea();" id="template-value">
                {% for template in templates %}
                <option value="{{ template }}">{{ template.lower() }}</option>
                {% endfor %}
                <option value="custom">&lt;custom&gt;</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div id='custom-template-area' style='display: none'>
            <textarea name='template-custom' id='template-custom' rows="10" ></textarea>
            <p align='right' class='small'>
                <a href="https://github.com/insilichem/esigen/blob/master/docs/templates.md" target="_blank">&#x270e; Custom templates help</a>
            </p>
        </div>
    </div>
    <div class="field">
        <input type="checkbox" id="missing" name="missing" onChange="showMissingValueField();"/>
        <label for="missing">Show missing values as...</label>
        <input type="text" id="missing-value" name="missing-value" maxlength="10" value="N/A" size="10" />
    </div>
    <p style="margin-top: 1em">
        <input class="btn" type="submit" value="Generate report" />
    </p>
</form>
<script>
    function showTextArea() {
        var form = document.getElementById('configure-template');
        var template = form.elements['template'].value;
        var textarea = document.getElementById('custom-template-area');
        if (template=='custom') {
            textarea.style.display = 'block';
        }
        else {
            textarea.style.display = 'none';
        };
    };
    function showMissingValueField() {
        var form = document.getElementById('configure-template');
        var checked = form.elements['missing'].checked;
        document.getElementById('missing-value').disabled = !checked;
    }
    document.addEventListener('DOMContentLoaded', showTextArea, false);
    document.addEventListener('DOMContentLoaded', showMissingValueField, false);
</script>
{% endblock %}