{% macro viewer3d(loop, uuid, molecule) %}
    <div id="viewport{{ loop.index }}" class="ngl-viewport"></div>
    <script>
        document.addEventListener("DOMContentLoaded", AddNGLWidget(
            "{{ loop.index }}", "{{ url_for('get_image', filename='{}/{}.pdb'.format(uuid, molecule.name)) }}", "{{molecule.name}}").autoView());
    </script>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
<title>Supporting Information Generator</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/{}'.format(css)) }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
</head>
<body>
<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/xepOnline.jqPlugin.js') }}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
{% if ngl %}
<script src="{{ url_for('static', filename='js/ngl.js') }}"></script>
<script>
document.NGLStages = {};
function AddNGLWidget(index, moleculeUrl, basename) {
    if (index in document.NGLStages) return document.NGLStages[index];
    var stage = new NGL.Stage("viewport"+index,
        {fogNear: 100, fogFar: 100, backgroundColor: 'white'});
    document.NGLStages[index] = stage;
    stage.moleculeName = basename;
    stage.loadFile(moleculeUrl, {ext: 'pdb'}).then(function (component) {
        var sele = 'not (_C or _H or _N or _O)';
        component.addRepresentation("cartoon");  // for proteins
        component.addRepresentation("licorice", {multipleBond: "symmetric"}); // for ligands
        component.addRepresentation("ball+stick", {sele: sele, aspectRatio: 3.0}); // for metals
        // add labels to non-CHON atoms
        var labelText = {}
        var selectionObject = new NGL.Selection(sele);
        component.structure.eachAtom(function(AtomProxy) {
            var elem = AtomProxy.element
            labelText[AtomProxy.index] = elem.charAt(0).toUpperCase() + elem.slice(1).toLowerCase();
        }, selectionObject);
        component.addRepresentation(
            'label', {  sele: sele,
                        color: '#222222',
                        name: 'non-CHON element',
                        labelType: 'text',
                        labelText: labelText,
                        xOffset: 0.5,
                        showBorder: true,
                        borderColor: '#FFFFFF',
                        borderWidth: 0.05,
                        sdf: true
                        }
        );
        // provide a "good" view of the structure
        component.autoView();
    });
    return stage;
};
</script>
{% endif %}
<div id="main" class="container">
    <div id="markup">
        <h2>Supporting Information</h2>
        {% for molecule, report in reports %}
            <article id="content" class="markdown-body">
                {# Not proud of this part, but it works... #}
                {{ report|safe|replace("{{ viewer3d }}", viewer3d(loop, uuid, molecule) ) }}
            </article>
        {% endfor %}

        <div id="footer">
            <div id="loader" class="loader" style="display:none;"></div>
            <p class="do-not-print">
                Export as <a href="javascript:;" onclick="return generatePDF();">PDF</a> &middot;
                <a href="zip">ZIP</a> + <a href="javascript:;" onclick="return renderCanvasZip();">Images</a> &middot;
                <a href="md" target="_blank">Markdown</a> &middot;
                <a href="json" target="_blank">JSON</a> &middot;
                <a href="gist" target="_blank">Gist</a> |
                <a href="javascript:;" id='copy-btn' data-clipboard-target="#markup" onclick="return copyToClipboard();">Copy to clipboard</a> &middot;
                <a href="javascript:window.print()" target="_blank">Print</a> &middot;
                <a href="{{ url_for('index') }}">Back to front page</a> &middot;
                <a href="{{ url_for('privacy_policy') }}" target="_blank">Privacy policy</a>
            </p>
            <p align="center">
                Generated automatically with <a href="https://github.com/insilichem/esigen" target="_blank">insilichem/esigen</a>
            </p>
        </div>
    </div>
</div>
<script>
    function generatePDF() {
        var response = xepOnline.Formatter.Format('main',  {
            //render: 'download',
            filename: '{{ "esigen-report-{}".format(uuid) }}',
            embedLocalImages: true,
            resolution: 300,
            pageWidth: '216mm',
            pageHeight: '279mm'
        });
        return false;
    };
    document.addEventListener('DOMContentLoaded', function () {
        jQuery(document).on("xepOnlineStatus", function (event, state) {
            if (state == "Started") {
                jQuery('#loader').toggle('show');
            }
            else if (state == "Finished") {
                jQuery('#loader').toggle('hide');
            }
            else if (state == "Errored") {
                setTimeout(generatePDF, 500);
            }
        });
    });
    function renderCanvasZip(){
        jQuery('#loader').toggle('show');
        var zip = new JSZip();
        for (var stageId in document.NGLStages) {
            var stage = document.NGLStages[stageId];
            var viewer = stage.viewer;
            var canvas = viewer.renderer.domElement;
            var container = canvas.parentElement;
            var fr = new FileReader();
            params = {trim: false, antialias: true, transparent: false}
            zip.file(stage.moleculeName + '.png', stage.makeImage(params));
        }
        zip.generateAsync({ type: "blob" }).then(function(data) {
            saveAs(data, "{{uuid}}-images.zip");
            setTimeout(function () { jQuery('#loader').toggle('hide'); }, 1000);
        });
    }
    function copyToClipboard() {
        jQuery('#loader').toggle('show');
        var clipboard = new Clipboard('#copy-btn');
        document.clipboard = clipboard;
        clipboard.on('success', function (e) {
            e.clearSelection();
            setTimeout(function () { jQuery('#loader').toggle('hide'); }, 1000);
        });
    }
</script>
</body>
</html>